<div class="alert alert-info" id="tips-feed">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Tips:</h4>
    <dl>
        <dt>Starred items in Google Reader:
            <dd>http://www.google.com/reader/public/atom/user/<b>[user-id]</b>/state/com.google/starred
        <dt>Favorite tweet in Twitter:
            <dd>http://twitter.com/favorites/<b>[username]</b>.rss
        <dt>Youtube user upload:
            <dd>http://gdata.youtube.com/feeds/base/users/<b>[username]</b>/uploads?alt=rss
    </dl>
</div>
<script type="text/javascript">
$('#tips-feed').bind('close', function () {
    $.cookie('tips-feed', 'hide');
})
</script>