html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body { padding-top: 50px; }
@media (max-width: 979px) {
    body { padding-top: 0; }
}

.container-narrow {
margin: 0 auto;
max-width: 767px;
}