<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="presveva">
  <meta name="description" content="a bookmarking service">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ brand }}{% endblock %}</title>
  <link  href="../static/favicon.ico"   rel="shortcut icon" >
  <link  href="http://cdn.dinoia.eu/css/bs.css"    rel="stylesheet" type="text/css">
  <link  href="http://cdn.dinoia.eu/css/bs.re.css" rel="stylesheet" type="text/css">
  <link  href="http://cdn.dinoia.eu/css/bs.me.css" rel="stylesheet" type="text/css">
  <script src="http://cdn.dinoia.eu/js/jquery.js"></script>
  <script src="http://cdn.dinoia.eu/js/jquery.cookie.js"></script>
  <script src="http://cdn.dinoia.eu/js/bootstrap.js"></script>
  <script src="../static/base.js"></script>
</head>

<body>
{% block navbar %} {% endblock %}
{% block content %} {% endblock %}
</body>
</html>