<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="presveva">
  <meta name="description" content="a bookmarking service">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ brand }}{% endblock %}</title>
  <link rel="shortcut icon" href="http://cdn.dinoia.eu/favicon.ico">
  <link rel="stylesheet" href="http://cdn.dinoia.eu/css/bootstrap-combined.min.css" type="text/css">
  <script src="http://cdn.dinoia.eu/js/jquery.min.js"></script>
  <script src="http://cdn.dinoia.eu/js/bootstrap.min.js"></script>
  <script src="http://cdn.dinoia.eu/js/jquery.cookie.js"></script>
  <script src="../static/base.js"></script>
  <style type="text/css">
    html {
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }
    body { padding-top: 50px; }
    @media (max-width: 979px) {
      body { padding-top: 0; }
    }
    .container-narrow {
      margin: 0 auto;
      max-width: 767px;
    }
  </style>
</head>

<body>
{% block navbar %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>