<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="presveva">
  <meta name="description" content="a bookmarking service">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ brand }}{% endblock %}</title>
  <link  href="/static/vendor/bootstrap.min.css" rel="stylesheet">
  <link  href="/static/vendor/bootstrap.re.css" rel="stylesheet">
  <link  href="/static/base.css" type="text/css" rel="stylesheet" >
  <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
  <script src="/static/vendor/jquery.js"></script>
  <script src="/static/vendor/bootstrap.js"></script>
  <script src="/static/vendor/jquery.cookie.js"></script>
  <script src="/static/base.js"></script>
  <link  href="favicon.ico" rel="shortcut icon">
</head>

<body>
{% block navbar %} {% endblock %}
{% block content %} {% endblock %}
</body>
</html>