<div class="well well-small row-{{ bm.id }}">
<dt > <i class="icon-bookmark"></i> <a href="{{ bm.url }}" target="_blank">{{ bm.title|e|truncate(110) }}</a>
    <a class="btn btn-link btn-mini " onclick="getbms('domain','','{{ bm.domain }}')"><em>{{ bm.domain }}</em> </a>
<dt>
<div class="btn-toolbar">
    <button class="btn btn-mini star-{{ bm.id }}" onclick="star({{ bm.id }})">
        {% if bm.starred %}<i class="icon-star"></i>
        {% else %}<i class="icon-star-empty"></i>{% endif %}
    </button>

    <button class="btn btn-mini" onclick="comment('/getcomment',{{ bm.id }})"><i class="icon-comment"></i> comment</button>

    <button class="btn btn-mini" onclick="archive({{ bm.id }})">
    {% if bm.archived or bm.trashed %}
    <i class="icon-inbox"></i> inbox</button>
    {% else %}
    <i class="icon-folder-close"></i> archive</button>
    {% endif %}

    <button class="btn btn-mini" onclick="trash({{ bm.id }})">
    {% if bm.trashed %}
    <i class="icon-remove"></i> delete</button>
    {% else %}
    <i class="icon-trash"></i> trash</button>
    {% endif %}
</div>
    <dd class="tags-{{ bm.id }}"> {% include "tags.html" %}
    <dd class="comments comment-{{ bm.id }}"> {% if bm.tags == [] %} {{bm.comment}} {% endif%}
</div>
