{% extends "base.html" %}

{% block navbar %} {% include "navbar.html" %} {% endblock %}

{% block content %}
<div class="container-narrow">
<div class="row-fluid">
<div class="well well-small">
<form class="form-horizontal" action="/feed" method="post">
  <div class="control-group">
    <label class="control-label">Add Atom Feed</label>
    <div class="controls">
      <input type="text" class="input span12" name="url" allowBlank="true">
    </div>
  </div>
</form>
<form class="form-horizontal" action="/feed" method="post">
  <div class="control-group">
    <label class="control-label">twitter username</label>
    <div class="controls">
      <input type="text" class="input span12" name="username" allowBlank="true">
    </div>
  </div>
</form>
</div>
</div>

<table class="table table-condensed"> <tbody>
{% for feed in feeds %}
  <tr id="row-{{ feed.id }}">
    <td><a href="{{ feed.link }}" target="_blank"><b>{{ feed.title|truncate(40, true) }}</b></a></td>
    <td>
      <div class="btn-group">
        <a class="btn btn-mini" href="/feed?id={{ feed.id }}"> <i class="icon-remove"></i> delete</a>
        <a class="btn btn-mini" onclick="sync_feed({{ feed.id }})"> <i class="icon-refresh"></i> sync</a>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-mini" onclick="setnotify({{ feed.id }},'web')" id="n-w-{{ feed.id }}">web</button>
        <button type="button" class="btn btn-mini" onclick="setnotify({{ feed.id }},'email')" id="n-e-{{ feed.id }}">email</button>
        <button type="button" class="btn btn-mini" onclick="setnotify({{ feed.id }},'digest')" id="n-d-{{ feed.id }}">digest</button>
      </div>
    </td>
    <td><a href="{{ feed.feed }}" target="_blank"><b>feed</b></a></td>
    <td><small>{{feed.data|dtf}}</small></td>
  </tr>
  {% if feed.notify == 'digest' %}
  <script>$("#n-d-{{ feed.id }}").button('toggle')</script>
  {% elif feed.notify == 'email' %}
  <script>$("#n-e-{{ feed.id }}").button('toggle')</script>
  {% else %}
  <script>$("#n-w-{{ feed.id }}").button('toggle')</script>
  {% endif %}
{% endfor %}
</tbody> </table>
{% endblock %}
