{% for bm in bms %}
{% set us = bm.key.urlsafe() %}
<table class="table table-condensed table-striped row-{{us}}">
  <tbody> <tr> <td>

    <btn class="btn btn-small" onclick="comment('{{us}}')">
      <i class="icon-remove-circle"></i> <span class="hidden-phone">hide</span>
    </btn>

    <btn class="btn btn-small" onclick="trash('{{us}}')">
      {% if bm.stato == 'trash' %}
      <i class="icon-remove"></i> <span class="hidden-phone">delete</span>
      {% else %}
      <i class="icon-trash"></i> <span class="hidden-phone">trash</span>
      {% endif %}
    </btn>

    <btn class="btn btn-small" onclick="archive('{{us}}')">
      {% if bm.stato == 'inbox' %}
      <i class="icon-folder-close"></i> <span class="hidden-phone">archive</span>
      {% else %}
      <i class="icon-inbox"></i> <span class="hidden-phone">inbox</span>
      {% endif %}
    </btn>

    <btn class="btn btn-small star-{{us}}" onclick="star('{{us}}')">
      {% if bm.stato == 'star' %} <i class="icon-star"></i> {% else %} <i class="icon-star-empty"></i> {% endif %}
      <span class="hidden-phone">star</span>
    </btn>

    <btn class="btn hidden-phone btn-small share-{{us}}" onclick="share('{{us}}')">
      {% if bm.stato == 'share' %} <i class="icon-eye-open"></i> {% else %} <i class="icon-eye-close"></i> {% endif %} <span class="hidden-phone">share</span>
    </btn>

    <btn class="btn btn-small hidden-phone" onclick="edit('{{us}}')">
      <i class="icon-edit"></i> <span>edit</span>
    </btn>

    <btn class="btn btn-small" onclick="tweet('{{us}}')">
      <i class="icon-bullhorn"></i> <span class="hidden-phone">tweet</span>
    </btn>


    <div class="link-{{us}} btn-group">
    {% if bm.stato == 'share' %}
    <a class="btn btn-small btn-link " href="/bm/{{us}}" target="_blank">link</a>
    {% endif %}
    </div>

    <a class="btn btn-link btn-mini hidden-phone pull-right" onclick="getbms('domain', '{{ bm.domain }}')">
      <em>{{ bm.domain }}</em>
    </a>
  </td> </tr>

  <tr class="{%if bm.stato == 'trash' %}error{%endif%}"> <td>
    <i class="icon-bookmark hidden-phone"></i>
    <a href="{{ bm.key.id() }}" target="_blank">{{ bm.title|e}}</a>
  </td> </tr>
  <tr class="hide tweet-{{us}}"> <td>
    <form class="form-inline" action="/twitter/tweet">
      <div class="control-group" id="input_tweet-{{us}}">
        <textarea name="text_tweet" id="text_tweet-{{us}}" rows="3" class="span10">{{bm.title}} {{bm.key.id()}}</textarea>
        <button class="btn btn-large " type="submit" >tweet</button>
      </div>
    </form>
    <script type="text/javascript">
    $('#text_tweet-{{us}}').keyup(function () {
      len = this.value.length - {{bm.key.id()|length}} + 23;
      superato = Boolean(len >= 140);
      $('#input_tweet-{{us}}').toggleClass('error', superato);
      $('#input_tweet-{{us}}').toggleClass('success', !superato);
    });
    </script>
  </td> </tr>
  <tr class="hide edit-{{us}}"> <td> {% include 'edit.html'%} </td> </tr>
  <tr class="comments comment-{{us}}"> <td style="max-width: 757px">{{bm.comment}}</td> </tr>
  </tbody>
</table>
{% endfor %}

{% if cursor %}
<div class="well well-small visible-phone">
  <a href="#" class="btn btn-block" onclick="getbms()">more</a>
</div>
<script type="text/javascript">
  $.cookie('cursor', '{{cursor}}');
</script>
{% else %}
<script type="text/javascript">
  $.cookie('cursor', '');
</script>
{% endif %}

<script type="text/javascript">
  // $('.comments a').attr('target', '_blank');
</script>
