{% for bm in bms %}
<div class="well well-small" id="row-{{ bm.id }}">
    {% include "bookmark.html" %}
</div>
{% endfor %}

{% if c %}
{% if arg2 %}
<div class="well well-small">
    <a  class="btn btn-block" onclick="getbms(active(),'{{c}}','{{arg1}}','{{arg2}}')" type="button">more...</a>
</div>
{% elif arg1 %}
<div class="well well-small">
    <a  class="btn btn-block" onclick="getbms(active(),'{{c}}','{{arg1}}')" type="button">more...</a>
</div>
{% else %}
<div class="well well-small">
    <a  class="btn btn-block" onclick="getbms(active(),'{{c}}')" type="button">more...</a>
</div>
{% endif %}
{% endif %}