{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="hero-unit">
        <h2>Gae.icio.us</h2>
        <p>A bookmarking service</p>
        <p><a href="{{url}}" class="btn ">Login</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h3>Goodies</h3>
            <dl>
                <dt>Tagging
                    <dd>Associate tags to the bookmark
                    <dd>Filter and refine the bookmarks by tags
                <dt>Content optimization
                    <dd>Images, Youtube and Vimeo video is incorporated as comment
                    <dd>Urls is sanitized
                <dt>Mail yourself (MYS)
                    <dd>the user can receive an email for each bookmark
                <dt>Import from delicious.com
                    <dd>Upload your delicious backup file and {{brand}} create new bookmarks.
            </dl>
        </div>
        <div class="span4">
            <h3>How to post</h3>
            <dl>
                <dt>Bookmarklet
                    <dd>Drag and drop the bookmarklet in your bookmarks bar
                    <dd>click on bookmarklet in order to create a new bookmark
                    <dd>if you select a text, this is "insert as comment"
                <dt>Post via email
                    <dd>From: the email used in gae.icio.us
                    <dd>To: post@gaeicious.appspotmail.com
                    <dd>Subject: the title of the post
                    <dd>Body: the link of the post
                <dt>Feed subscription
                    <dd>Add your feed urls in Feeds page
                    <dd>the app creates a new bookmark for each new item in the feed
                    <dd>For each feed you can choice from: 8 hourly digest/only web/email for each bookmark.
                <dt>Import from Delicious
                    <dd>In setting page users can upload the delicious.
            </dl>
        </div>
        <div class="span4">
            <h3>Autors and tools</h3>
            <dl>
                <dt><a href="https://github.com/presveva/gae.icio.us">Gae.icio.us</a>
                    <dd>is maintained by <a href="https://twitter.com/presveva">presveva</a>
                    <dd>powered by <a href="https://developers.google.com/appengine/">Google App Engine</a>
                    <dd>and styled by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
            </dl>
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}