<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{brand}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a bookmarking service">
    <meta name="author" content="presveva">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link href="http://cdn.dinoia.eu/css/bs.css" rel="stylesheet">
    <link href="http://cdn.dinoia.eu/css/bs.re.css" rel="stylesheet">
    <link href="static/base.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://github.com/presveva/gaeicious">Code</a></li>
        </ul>
        <h2 class="muted">{{brand}}</h2>
      </div>

      <hr>

      <div class="jumbotron">
        <h3>{{brand}}</h3>
        <p class="lead">A bookmarking service</p>
        <a class="btn btn-large btn-success" href="{{ url }}">{{urltext}}</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Goodies</h4>
          <dl>
            <dt>Searchable
            <dt>Content optimization
              <dd>Images, Youtube and Vimeo video is incorporated as comment
              <dd>Urls is sanitized
            <dt>Mail yourself (MYS)
              <dd>the user can receive an email for each bookmark
            <dt>Import from delicious.com
              <dd>Upload your delicious backup file and {{brand}} create new bookmarks.
          </dl>

          <h4>Autors and tools</h4>
          <dl>
          <dt><a href="https://github.com/presveva/gaeicious">Gaeicious</a>
            <dd>is maintained by <a href="https://twitter.com/presveva">presveva</a>
            <dd>powered by <a href="https://developers.google.com/appengine/">Google App Engine</a>
            <dd>and styled by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
          </dl>
        </div>

        <div class="span6">
          <h4>How to post</h4>
          <dl>
            <dt>Bookmarklet
              <dd>Drag and drop the bookmarklet in your bookmarks bar
              <dd>click on bookmarklet in order to create a new bookmark
              <dd>if you select a text, this is "insert as comment"
            <dt>Post via email
              <dd>From: the email used in gaeicious
              <dd>To: post@{{brand}}.appspotmail.com
              <dd>Subject: the bookmark's title
              <dd>Body: the bookmark's link
            <dt>Feed subscription
              <dd>Add your feed urls in Feeds page
              <dd>the app creates a new bookmark for each new item in the feed
              <dd>For each feed you can choice from: 8 hourly digest/only web/email for each bookmark.
            <dt>Import from Delicious
              <dd>In setting page users can upload the delicious.
          </dl>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; {{brand}} 2013</p>
      </div>

    </div>

  </body>
</html>
