{% extends "base.html" %}
{% block title %} {{ brand }} - {{ bm.title }} {% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-narrow">
  <a class="brand" href="/">{{ brand }}</a>
  <p class="navbar-text pull-right"> <i class="icon-user"></i> shared by {{bm.key.parent().id()}} </p>
</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container-narrow">
<div class="row-fluid">
  <table class="table table-condensed table-striped"> <tbody>
    <tr> <td>
      <i class="icon-bookmark hidden-phone"></i>
      <a href="{{ bm.key.id() }}" target="_blank">{{ bm.title|e }}</a>
    </td> </tr>
    <tr> <td>
      {{bm.comment}}
    </td></tr>
  </tbody></table>
</div>
</div>
{% endblock %}
