<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{brand}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gianni Di Noia">
    <meta name="description" content="a bookmarking service">
    <link href="//fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/base.css" type="text/css" rel="stylesheet" >
    <link href="/static/favicon.ico" rel="shortcut icon">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <h3 class="muted">{{brand}}</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="http://www.appsgeyser.com/getwidget/gaeicious/">Android</a></li>
                <li><a href="https://github.com/presveva/gaeicious">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div id="masterbody">
        <div class="jumbotron">
          <h2>{{brand}}</h2>
          <p class="lead">A bookmarking service</p>
          <a href="{{ redirect_url }}" ><img src="/static/twitter.png"></a>
        </div>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span6">
          <h4>Goodies</h4>
          <dl>
            <dt>Searchable
            <dt>Content optimization
              <dd>Images, Youtube and Vimeo video is incorporated as comment
              <dd>Urls is sanitized
            <dt>Mail yourself (MYS)
              <dd>the user can receive an email for each bookmark
            <dt>Import from delicious.com
              <dd>Upload your delicious backup file and {{brand}} create new bookmarks.
          </dl>

          <h4>Autors and tools</h4>
          <dl>
          <dt><a href="https://github.com/presveva/gaeicious">{{brand}}</a>
            <dd>is maintained by <a href="https://twitter.com/presveva">presveva</a>
            <dd>powered by <a href="https://developers.google.com/appengine/">Google App Engine</a>
            <dd>and styled by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
          </dl>
        </div>
        <div class="span6">
          <h4>How to post</h4>
          <dl>
            <dt>Bookmarklet
              <dd>Drag and drop the bookmarklet in your bookmarks bar
              <dd>click on bookmarklet in order to create a new bookmark
              <dd>if you select a text, this is "insert as comment"
            <dt>Post via email
              <dd>From: the email used in gaeicious
              <dd>To: post@{{brand}}.appspotmail.com
              <dd>Subject: the bookmark's title
              <dd>Body: the bookmark's link
            <dt>Feed subscription
              <dd>Add your feed urls in Feeds page
              <dd>the app creates a new bookmark for each new item in the feed
              <dd>For each feed you can choice from: 8 hourly digest/only web/email for each bookmark.
            <dt>Import from Delicious
              <dd>In setting page users can upload the delicious.
          </dl>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; {{brand}} 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
