<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-narrow">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand hidden-phone" href="/">{{ brand }}</a>
  <a class="brand visible-phone" href="/"><i class="icon-home"></i></a>

  <div class="nav">
    <ul class="nav">
      <li id="twitter_pg"><a href="/twitter/"><i class="icon-bullhorn"></i></a></li>
      <li class="divider-vertical"></li>
      {% if tweets is defined %}
      <li id="twitter_form"><a href="#" onclick="twitter_form()"><i class="icon-edit"></i> tweet</a></li>
      {% elif feeds is defined %}
      <form class="navbar-form pull-left" action="/feeds" method="post">
        <input type="text" class="input input-medium" name="url" placeholder="Add feed">
      </form>
      {% elif is_gae %}
      <li id="archive_pg">
        <a href="/#" onclick="getbms('archive','{{c}}')"> <i class="icon-folder-close"></i></a>
      </li>
      <li id="trash_pg">
        <a href="/#" onclick="getbms('trash','{{c}}')"><i class="icon-trash"></i></a>
      </li>
      <li id="star_pg">
        <a href="/#" onclick="getbms('star','{{c}}')"><i class="icon-star"></i></a>
      </li>
      <li id="share_pg" class="hidden-phone">
        <a href="/#" onclick="getbms('share','{{c}}')"><i class="icon-share"></i></a>
      </li>
      <li id="stream_pg" class="hidden-phone">
        <a href="/#" onclick="getbms('stream','{{c}}')"><i class="icon-gift"></i></a>
      </li>
      {% else %}
      {% endif %}
    </ul>
  </div>


  <div class="nav pull-right">
    <ul class="nav pull-right visible-desktop">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i> <b class="caret"> </b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/feeds">Feeds</a></li>
          <li><a href="/setting">Setting</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="divider"></li>
          <li><a href="/admin">Admin</a></li>
          {% if admin %}
          <li><a href="/_ah/admin" target="_blank">AppEngine</a></li>
          {% endif %}
          <li><a href="https://github.com/presveva/gaeicious" target="_blank">GitHub</a></li>
        </ul>
      </li>
    </ul>

    {% if is_gae %}
    <ul class="nav hidden-phone">
      <li id="more"> {% include 'more.html' %} </li>
      <li id="collapse_btn"> <a href="#" onclick="hide_all()"> <i class="icon-arrow-up"></i></a> </li>
      <li id="expande_btn" class="hide"> <a href="#" onclick="show_all()"> <i class="icon-arrow-down"></i></a> </li>
    </ul>
    <ul class="nav hidden-phone">
      <li class="">
        <form id="search" class="navbar-search" action="/search" onsubmit="search()">
          <input type="text" class="input-medium search-query" name="query_string" placeholder="Search">
        </form>
      </li>
    </ul>
    {% endif %}
  </div>

  <div class="nav-collapse">
    {% if is_gae %}
    <ul class="nav pull-right">
      <li class="visible-phone">
        <form id="search" class="navbar-search" action="/search" onsubmit="search()">
          <input type="text" class="search-query" name="query_string" placeholder="Search">
        </form>
      </li>
    </ul>
    {% endif %}
    <ul class="nav hidden-desktop">
    {% if is_gae %}
      <li class=" visible-phone"><a href="#" onclick="getbms('share','{{c}}')">Shared</a></li>
      <li class=" visible-phone"><a href="#" onclick="getbms('stream','{{c}}')">Stream</a></li>
    {% endif %}
      <li><a href="/feeds"> Feeds</a></li>
      <li><a href="/setting"> Setting</a></li>
      <li><a href="/logout"> Logout</a></li>
      <li class="divider"></li>
      <li><a href="/admin"> Admin </a></li>
    </ul>
  </div>
</div>
</div>
</div>

